body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.pokemon {
    display: inline-block;
    background-color: rgb(14, 106, 211);
    width: 200px;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
}
img {
    margin: 0 auto 0 auto;
    padding: 20px;
    display: block;
    background:url(background_prairie_pokemon.jpg);
}
.stats {
    background-color: red;
}
